body {
  background-image: url(acceso2.jpg);
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont,
                "Segoe UI", Roboto, "Helvetica Neue",
                Arial, sans-serif, "Apple Color Emoji",
                "Segoe UI Emoji", "Segoe UI Symbol",
                "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
/*
@media only screen and (min-width: 200px) {
  form {
    width:160px;
    height:160px;
    padding:10px 15px;
    box-shadow:0 0 20px -5px #000;
}*/
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  flex-direction: column;
}
h1{
  text-align: center;
  color: white;
}
.boton_inicio{
  border: none;
  background: #3a7999;
  color: #f2f2f2;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  transition: all 500ms ease;
  margin-top: 30px;
}
.boton_inicio:hover {
  background: rgba(0,0,0,0);
  color: #3a7999;
  box-shadow: inset 0 0 0 3px #3a7999
}
.form{
width:280px;
height:280px;
background:#e6e6e6;
border-radius:8px;
box-shadow:0 0 40px -10px #000;
padding:20px 30px;
font-family:'Montserrat',sans-serif;
display: flex;
flex-direction: column;
 align-items: center ;
}
input,select{
  width:100%;
  padding:10px;
  box-sizing:border-box;
  background:none;
  outline:none;
  resize:none;
  border:0;
  font-family:'Montserrat',sans-serif;
  transition:all .3s;
  border-bottom:2px solid #bebed2
}
